
body{
  background-color: #78c3fb;
}

.form-div{
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-div>form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.go{
  border: none;
  border-radius: 5px;
  background-color: #173753;
  color: #fff;
  font-size: 16px;
  padding: 4px;
}

.url{
  border: .5px solid #173753;
  border-radius: 5px;
  outline: none;
  width: 700px;
  height: 20px;
  margin: 4px;
}

.url-result{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.url-result>a{
  font-size: 30px;
  color: #000;
  border: 3px solid #fff;
  border-radius: 6px;
  padding: 16px;
  text-decoration: none;
}

.url-result>a:hover{
  text-decoration: dashed;
}

.result{
  display: flex;
  flex-direction: column;
}

.return{
  background-color: #78c3fb;
  border: none;
  font-size: 20px;
  color: white;
  text-decoration: underline;
}

.return:hover{
  color: #173753;
}